<div class="wrapper">
  <div class="container">

    <%= form_for @sea do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>

      <p><%= f.label :temperature %></p>
      <p><%= f.number_field :temperature, class: "form-control" %></p>

      <p><%= f.label :bio %></p>
      <p><%= f.text_area :bio, class: "form-control" %></p>

      <p><%= f.label :image_url %></p>
      <p><%= f.text_field :image_url, class: "form-control" %></p>

      <p><%= f.label :mood %></p>
      <p><%= f.text_field :mood, class: "form-control" %></p>

      <p><%= f.label :favorite_color %></p>
      <p><%= f.text_field :favorite_color, class: "form-control" %></p>

      <p><%= f.label :scariest_creature %></p>
      <p><%= f.text_field :scariest_creature, class: "form-control" %></p>

      <p><%= f.label :has_mermaids %></p>
      <p><%= f.check_box :has_mermaids, class: "form-control" %></p>

      <p><%=  f.submit class: "btn btn-info form-control" %></p>
      <button type="button" name="button"><a href="/seas">All seas</a></button>
    <% end %>
  </div>
</div>
